# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp